<div class="main-container">
    <div class="form-container">
        <h2>Login Form</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group"> 
              <div class="mb-3">
                  <input type="email" formControlName="email" class="form-control"  placeholder="Enter your email">
              </div>
              <div class="mb-3"> 
                  <input type="password" formControlName="password"  class="form-control" placeholder="Enter your password">
              </div>
             </div>
             <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </form>
    </div>
</div>
